<section class="info_section layout_padding2">
    <div class="container">
        <div class="info_items">
            <a href="https://maps.app.goo.gl/PHCtkc74Japw1tdM6">
                <div class="item">
                    <div class="img-box box-1">
                        <img src="@Url.Content("~/Images/location-icon.png")" alt="Location">
                    </div>
                    <div class="detail-box">
                        <p>Location</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="item">
                    <div class="img-box box-2">
                        <img src="@Url.Content("~/Images/phone-icon.png")" alt="Phone">
                    </div>
                    <div class="detail-box">
                        <p>
                            +37300000001 - Delivery Guy<br>
                            +37300000002 - Waiter Guy<br>
                            +37300000003 - Chef Guy
                        </p>
                    </div>
                </div>
            </a>
            <a href="mailto:samrealka@mail.ru">
                <div class="item">
                    <div class="img-box box-3">
                        <img src="@Url.Content("~/Images/email-icon.png")" alt="Email">
                    </div>
                    <div class="detail-box">
                        <p>SMMGUY@gmail.ru</p>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("PrivacyPolicy", "Home")">
                <div class="item">
                    <div class="img-box box-3">
                        <img src="@Url.Content("~/Images/privacy.png")" alt="Privacy">
                    </div>
                    <div class="detail-box">
                        <p>
                            Privacy Policy
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<footer class="footer_section">
    <p>&copy; @DateTime.Now.Year All Rights Reserved. Designed by Design Guy</p>
</footer>