<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restoraunt</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderPage("~/Views/Shared/_Header.cshtml")


    @RenderBody()
    @RenderPage("~/Views/Shared/_Footer.cshtml")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>