
@{
    ViewBag.Title = "Waiters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="waiter_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Our Gym Waiters</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <a href="@Url.Action("WaiterID", "WaiterID")" target="_blank">
                        <div class="name">
                            <h5>Delivery Guy</h5>
                        </div>
                        <div class="img-box">
                            <img src="@Url.Content("~/Images/t1.jpg")" alt="Delivery Guy">
                        </div>
                    </a>
                    <div class="social_box">
                        <a href="https://t.me/Samch0s" target="_blank">
                            <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                        </a>
                        <a href="https://steamcommunity.com/id/sam4ch/" target="_blank">
                            <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                        </a>
                        <a href="https://www.instagram.com/sam_4ch/" target="_blank">
                            <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <a href="@Url.Action("WaiterID", "WaiterID")" target="_blank">
                        <div class="name">
                            <h5>Waiter Guy</h5>
                        </div>
                        <div class="img-box">
                            <img src="@Url.Content("~/Images/t2.jpg")" alt="Waiter Guy">
                        </div>
                    </a>
                    <div class="social_box">
                        <a href="https://t.me/Bitezp" target="_blank">
                            <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                        </a>
                        <a href="https://steamcommunity.com/profiles/76561198989588190" target="_blank">
                            <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                        </a>
                        <a href="https://www.instagram.com/bite_rio/" target="_blank">
                            <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <a href="@Url.Action("WaiterID", "WaiterID")" target="_blank">
                        <div class="name">
                            <h5>Chef Guy</h5>
                        </div>
                        <div class="img-box">
                            <img src="@Url.Content("~/Images/t3.jpg")" alt="Chef Guy">
                        </div>
                    </a>
                    <div class="social_box">
                        <a href="https://t.me/marsonskii" target="_blank">
                            <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                        </a>
                        <a href="https://steamcommunity.com/id/fanofichikanakano" target="_blank">
                            <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                        </a>
                        <a href="https://www.instagram.com/hoetsuhigashihara/" target="_blank">
                            <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>